.page-not-found {
    margin-top: 30px;
    .paper {
        padding: 20px;
        text-align: center;
        .error-img {
            width: 100px;
            height: 100px;
        }
        .oops {
            font-size: 26px;
        }
        .error {
            font-size: 22px;
            font-weight: bold;
        }
    }
}